body {
           background-image: url("../ASSETS/LAYOUT.png");
           display: inline-grid;
        }
h4{
 color: black;
 background-color: blanchedalmond;
}
p{
   color:black;
   background-color: yellowgreen;
}